<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>page1</title>
</head>
<body>
    <h1>First title...</h1>
    <h4>Today is :<%=date%></h4>
    <h4><%=time%></h4>
</body>
</html>

